// Цвета
// Основной цвет текста и панели меню
$black-900: rgba(26, 27, 34, 1);

// Используется для подзаголовков/плейсхолдеров
$black-500: rgba(121, 121, 129, 1);

// Используется для текста на темном фоне (например, невыбранные разделы в меню), состояние «disabled» у кнопок
$black-300: rgba(181, 181, 183, 1);

// Используется для состояния «disabled» у полей ввода/выпадающих списков и тд
$black-100: rgba(221, 224, 228, 1);

// Заливка у доп.элементов (например, незаполненная часть прогресс бара)
$grey: rgba(249, 250, 251, 1);

// Фоновый цвет плиток/кнопок и активного раздела в меню
$white: rgba(255, 255, 255, 1);

// Основной цвет кнопок
$blue: rgba(90, 155, 255, 1);

// Базовый цвет кликабельных элементов (иконок, фильтр-ссылок) и состояния «Focus/hover» у кнопок
$blue-main: rgba(90, 155, 255, 1);

// Используется в качестве заливки/фонового цвета для выбранных элементов, например, в выпадающем списке
$blue-bg: rgba(241, 246, 255, 1);

// Индикация ошибок и деструктивных действий
$red: rgba(255, 2, 0, 1);

//Дополнительные. Указанные цвета используются в качестве фоновых/заливок для плиток/тегов/статусов
$green: rgba(135, 204, 158, 1);
$green-light: rgba(194, 229, 206, 1);
$purple: rgba(127, 103, 210, 1);
$purple-light: rgba(204, 194, 237, 1);
$orange: rgba(255, 206, 146, 1);
$orange-light: rgba(255, 225, 189, 1);
$rose: rgba(255, 221, 229, 1);
$yellow: rgba(255, 221, 229, 1);
$pink: rgba(255, 191, 253, 0.87);
$brown: rgba(169, 145, 117, 0.26);
$blue-light: rgba(172, 204, 255, 1);

//Радиусы
$radius-input: 4px;
$radius-button: 6px;

$fontH: 'YSDisplay', 'Arial', sans-serif;
$fontP: 'YSText', 'Arial', sans-serif;

