@import '../../styles/abstract/constants.scss';

.diagramWrapper {
  width: 264px;
  height: 264px;
  border: 1px solid red;
}

.circleOne {
  border-radius: 50%;
}

.circleTwo {

}

.circleThree {

}

.circleFour {

}
