@import '../../styles/abstract/mixins';

.slider {
  position: relative;
  width: 1164px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  @include font-h2-med;
}

.arrows {
  &_prev {
    left: 0;
    height: 40px;
    width: 40px;
    background-color: inherit;
    background-image: url(../../images/icon/arrow_right.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &_next {
    left: calc(100% - 40px);
    height: 40px;
    width: 40px;
    background-color: inherit;
    background-image: url(../../images/icon/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding-right: 50px;
    cursor: pointer;
  }

  &:hover {
    opacity: 0.6;
  }
}
