@import '../../../styles/abstract/constants';

.container {
  display: flex;
  flex-direction: column;
  width: 204px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px 0px $blue-light;
  padding: 20px;
  gap: 8px;
  cursor: pointer;

  //  заглушка шрифтов
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  width: 164px;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  margin: 0;
  font-size: 16px;
}

.header_img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  background-color:bisque;
  border-radius: 100px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.data_results {
  position: absolute;
  right: 40px;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_title {
  font-size: 16px;
}

.footer_subtitle {
  font-size: 13px;
}

.footer_buttons {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}