@import '../../../styles/abstract/constants';
@import '../../../styles/abstract/mixins';

.container {
  display: flex;
  flex-direction: column;
  width: 204px;
  height: 300px;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px 0px rgba(176, 190, 197, 0.30);
}

.container_active {
  box-shadow: 0px 4px 6px 0px $blue-light;
}

.header {
  display: flex;
  width: 164px;
  justify-content: space-between;
  align-items: center;
}

.header_title, .footer_title {
  margin: 0;
  @include font-text-med;
}

.header_img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  background-color:bisque;
  border-radius: 100px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.data_results {
  position: absolute;
  right: 40px;
  font-size: 20px;
  @include font-h3-med;
}

.blackAndWhite {
  filter: grayscale(100%); /* Применяем черно-белый фильтр */
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_subtitle {
  @include font-caption-reg;
}

.footer_buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}

.footer_status {
  width: 90px;
  height: 40px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  font-size: 18px;
  background-color: $green;
}